<ion-view view-title="魔窗 JSSDK Demo">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">最近更新</div>
      <div class="item item-body">
        <div>
          魔窗位1：

          <mw-block id="REN5L6AB" class="" data-mlink-params="{'a':'11', 'b':'21'}"></mw-block>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">活跃用户</div>
      <div class="item item-body">

        魔窗位2：

        <mw-block id="50C7RTJ2" data-mlink-params="{'a':'12', 'b':'22'}"></mw-block>
        <div>
          ......
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">新功能</div>
      <div class="item item-body">

        魔窗位3：

        <mw-block id="RCEBTAUI" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <div>
          一大波新功能即将来临！
        </div>

        <button ng-click="share()" xx-onclick="window.plugins.socialsharing.share('文字和链接', null, null, 'http://baidu.com')">分享文字和链接</button>
        <button onclick="window.plugins.socialsharing.share('文字和链接', null, null, 'http://baidu.com')">分享文字和链接</button>

        <mw-block id="RCEBTAUI" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="50C7RTJ2" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="AH4XOX3I" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="9YGNHRYK" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="XDM45ZXL" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="REN5L6AB" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="RCEBTAUI" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="Q324S7YR" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="LRQS1291" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="DLE2JPVC" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="DDPRDZ0C" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="SXDILM9V" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="OR7B1RYZ" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="O3569HNS" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="VIV7709V" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="V2WRMA7C" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="8T50L74C" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="JF1UXIHR" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="DS2ELY99" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="REFH3Q4E" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="919TWRC8" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="1C7DM93Y" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="OFV31VCF" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="GRVYDQ5V" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="WCV84SN7" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="SOQWUUTM" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="DJ4EBZE2" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="YNNF8GC7" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="EDUGW4DZ" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="6IBXWSDE" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="O1BMFO3O" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="BEQIVF4F" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="2NCWJU0P" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="PF2QEP6H" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="OXF1LLBX" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="9LFWTRCD" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="8B2MLSPX" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="ETVTX1LQ" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="17ZVTYUO" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="GIKNDZ0O" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="8CV3TC44" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="RDG994VZ" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="0ROMSQUW" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="3WP8QL2O" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="BAKHUMWR" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="0XU7Q07F" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="OGLLQ2T9" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="6U83CZXC" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="EGFCU72Y" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="5S0G57ST" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="JL5C8B9Q" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="KK0UCE3Q" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="HVUP2D1A" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="S6MJXVIN" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="V52FXEIQ" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="D9WOXG7V" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="U7YTHBSD" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="SLX4X30G" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="E0ULEJ00" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="TJ5TXMOD" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="T9VM3I8I" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="HGCFYMXV" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="96WKDVPC" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="SQKU5OOL" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="YDHNAQ7C" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="NUFGZ421" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="RRLFXC8U" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="W8G9DVPQ" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="V1SU9GU7" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="SFHAW21X" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="GSHZ80F5" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="D0E22J0V" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="ITKIQI23" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="G6581M3J" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="7CBSU4MI" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="9JG6T4ZK" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="PCU39OHK" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="0N5ICBXZ" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="ILK2XT3T" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="GIM7XC33" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="SDGHMPIH" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="223FDLV2" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="RWAI0EIX" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="BB89J16B" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="O0FW6SO0" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="MLVTDGB2" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="UX43REJ7" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="UCAYNC31" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="GBSWFA30" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="QZSOCZRM" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="ZXSZX3HC" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
        <mw-block id="F4XX8ZAC" data-mlink-params="{'a':'13', 'b':'23'}"></mw-block>
      </div>
    </div>
  </ion-content>
</ion-view>
